<a href="https://colab.research.google.com/github/Keerthikkumar55/Keerthikkumar-Portfolio/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
length = int (input ("Enter the length of the rectangle:")) #Getting length of a rectangle from user
width = int (input ("Enter the width of the rectangle:")) #Getting width of a rectangle from user
area = length*width #formula to find area
print (" The area of rectangle is:", area) #printing the area of rectangle

Enter the length of the rectangle:10
Enter the width of the rectangle:5
 The area of rectangle is: 50

In [ ]:
input_string = "P@#yn26at^&i5ve"

# Initialize counters for letters, digits, and special symbols
letters = 0
digits = 0
special_symbols = 0

for char in input_string:
    # Check if the character is a letter
    if char.isalpha():
        letters += 1
    # Check if the character is a digit
    elif char.isdigit():
        digits += 1
    else:
        special_symbols += 1
# Print the counts of letters, digits, and special symbols
print(f"Number of letters: {letters}")
print(f"Number of digits: {digits}")
print(f"Number of special symbols: {special_symbols}")

Number of letters: 8
Number of digits: 3
Number of special symbols: 4

In [ ]:

fahrenheit = int(input("Enter temperature in fahrenheit:"))# Getting temperature value in Fahrenheit
celsius = (fahrenheit - 32)*5/9 #formula to convert fahrenheit to Celsius
print("Temperature in celsius :", celsius)## printing the Temperature in celsius

Enter temperature in Fahrenheit:108
Temperature in celsius : 42.22222222222222

In [ ]:
# Taking user input for two numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Performing bitwise AND operation using '&' operator
result = num1 & num2

# Printing the result
print("Bitwise AND of", num1, "and", num2, "is:", result)

Enter first number: 7
Enter second number: 6
Bitwise AND of 7 and 6 is: 6

In [ ]:
# Function to check if a number is divisible by both 2 and 3
def check_div(num):
    # Check if the number is divisible by both 2 and 3
    if num % 2 == 0 and num % 3 == 0:
        return True
    else:
        return False

# Taking user input for the number
number = int(input("Enter a number: "))

# Checking div and printing the result
if check_divisibility(number):
    print(number, "is divisible by both 2 and 3.")
else:
    print(number, "is not divisible by both 2 and 3.")

Enter a number: 7
7 is not divisible by both 2 and 3.

In [ ]:
import random

def guess_number():
    secret_number = random.randint(1, 100)

    attempts = 0
    guessed_number = None

    print("Welcome to the Number Guessing Game!")
    print("Try to guess the secret number between 1 and 100.")

    while guessed_number != secret_number:
        try:
            guessed_number = int(input("Enter your guess: "))
            attempts += 1

            if guessed_number < secret_number:
                print("Too low! Try a higher number.")
            elif guessed_number > secret_number:
                print("Too high! Try a lower number.")
            else:
                print(f"Congratulations! You've guessed the secret number {secret_number} in {attempts} attempts.")
        except ValueError:
            print("Invalid input! Please enter a valid integer.")

if __name__ == "__main__":
    guess_number()

Welcome to the Number Guessing Game!
Try to guess the secret number between 1 and 100.
Enter your guess: 60
Too high! Try a lower number.
Enter your guess: 67
Too high! Try a lower number.
Enter your guess: 50
Too low! Try a higher number.
Enter your guess: 40
Too low! Try a higher number.
Enter your guess: 30
Too low! Try a higher number.
Enter your guess: 43
Too low! Try a higher number.
Enter your guess: 46
Too low! Try a higher number.
Enter your guess: 47
Too low! Try a higher number.
Enter your guess: 48
Too low! Try a higher number.
Enter your guess: 49
Too low! Try a higher number.
Enter your guess: 50
Too low! Try a higher number.
Enter your guess: 54
Too high! Try a lower number.
Enter your guess: 53
Too high! Try a lower number.
Enter your guess: 51
Congratulations! You've guessed the secret number 51 in 14 attempts.

In [ ]:
def add():
  a=10
  b=20
  c=a+b
  return c
print(add())

30

In [ ]:
def swap(a, b):
    return b, a


x = 5
y = 10

x, y = swap(x, y)
print("x =", x)
print("y =", y)

x = 5
y = 10

In [ ]:
x=('a','b','d','c')
print(max(x))

d

In [ ]:
def div(num1, num2):
    if num2 != 0:
        return num1 / num2
    else:
        return "Division by zero is not allowed"

# Take input from the user for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

result = div(num1, num2)

print("Result of division:", result)

Enter the first number: 6
Enter the second number: 8
Result of division: 0.75

In [ ]:
def square(num):
    return num ** 2

number = float(input("Enter a number: "))
result = square(number)

# Display the result
print("Square of the number:", result)

Enter a number: 12
Square of the number: 144.0

In [ ]:
random_numbers=(10,15,17,2,19,100,23)

maximum = max(random_numbers)
minimum = min(random_numbers)

# Display the maximum and minimum values
print("Random numbers:", random_numbers)
print("Maximum:", maximum)
print("Minimum:", minimum)

Random numbers: (10, 15, 17, 2, 19, 100, 23)
Maximum: 100
Minimum: 2

In [ ]:
name = input("Enter your name: ")

# Convert the name to lowercase using lower() function
lowercase_name = name.lower()

# Display the name in lowercase
print("Name in lowercase:", lowercase_name)

Enter your name: KEERTHIK
Name in lowercase: keerthik

In [ ]:
# Taking input from the user
input_string = "Welcome to Python Assignment"


# Converting the name to lowercase
input_lower = input_string.lower()

# Initializing variables to count vowels
vowel_count = 0
vowels = ""

# Counting and collecting vowels in the name
for char in input_lower:
    if char in 'aeiou':
        vowel_count += 1
        vowels += char + " "

print("Number of vowels in given input:", vowel_count)
print("Vowels in given input:", vowels)

Number of vowels in given input: 8
Vowels in given input: e o e o o a i e

In [ ]:
# Taking input from the user
name = input("Enter your name: ")

# Reversing the name using slicing [::-1]
reversed_name = name[::-1]

# Displaying the reversed name
print("Reversed Name:", reversed_name)

Enter your name: Keerthik
Reversed Name: kihtreeK

In [ ]:
# Input a string from the user
string = input("Enter a string: ")
# Remove unwanted spaces and convert the string to lowercase
cleaned_string = string.replace(" ", "").lower()
if cleaned_string == cleaned_string[::-1]:
  print("The string is a palindrome.")
else:
  print("The string is not a palindrome.")

Enter a string: dad
The string is a palindrome.

In [ ]:
# Take input from the user
input_string = input("Enter a string: ")

# Interchange cases using str.swapcase() method
interchanged_string = input_string.swapcase()

# Display the interchanged string
print("String with cases interchanged:",interchanged_string)

Enter a string: kEErthIK
String with cases interchanged: KeeRTHik

In [ ]:
input_string = "String and String Function"
output_string = ""

# Iterate through each character in the input string
for char in input_string:
    # Check if the character is not already in the output string
    if char not in output_string:
        # Append the character to the output string
        output_string += char

# Print the input and output strings without duplicate characters
print("Input:", input_string)
print("Output:", output_string)

Input: String and String Function
Output: String adFuco

In [ ]:
input_string = "String and String Function"
output_string = ""

# Iterate through each character in the input string
for char in input_string:
    # Check if the character is not already in the output string
    if char not in output_string:
        # Append the character to the output string
        output_string += char

# Print the input and output strings without duplicate characters
print("Input:", input_string)
print("Output:", output_string)

Input: String and String Function
Output: String adFuco

In [ ]:
input_string = "Hell0 W0rld ! 123 * # welcome to pYtHoN"

# Initialize counters for uppercase, lowercase, numeric, and special characters
upper_count = 0
lower_count = 0
num_count = 0
special_count = 0

for char in input_string:
    # Check if the character is an uppercase letter
    if char.isupper():
        upper_count += 1
    # Check if the character is a lowercase letter
    elif char.islower():
        lower_count += 1
    # Check if the character is a digit
    elif char.isdigit():
        num_count += 1
    # Check if the character is a special character
    else:
        special_count += 1

# Print the counts of uppercase, lowercase, numeric, and special characters
print("UpperCase:", upper_count)
print("LowerCase:", lower_count)
print("NumberCase:", num_count)
print("SpecialCase:", special_count)

UpperCase: 5
LowerCase: 18
NumberCase: 5
SpecialCase: 11

In [ ]:
my_list = [10, 20, 30, 40, 50]
result = sum(my_list)
print("Sum of list items:", result)

Sum of list items: 150

In [ ]:
# Example list
my_list = [10, 5, 20, 15, 30, 8]

# Initialize variables to hold the largest and smallest numbers
largest = 0
smallest = 0

for num in my_list:
    if num > largest:
        largest = num
    elif num < smallest:
        smallest = num

# Print the largest and smallest numbers
print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 30
Smallest number: 0

In [ ]:
# Example list with duplicate values
my_list = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8, 9, 1]

duplicates = []

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):
        if my_list[i] == my_list[j] and my_list[i] not in duplicates:
            duplicates.append(my_list[i])

# Display the duplicate values
if duplicates:
    print("Duplicate values in the list:", duplicates)
else:
    print("No duplicate values found in the list.")

Duplicate values in the list: [1, 2, 3]

In [ ]:
# Original list
original_list = [1, 1, 2, 3, 4, 4, 5, 1]

# Length of the first part of the list
first_part_length = 3

# Create a slice object for the first part
first_part_slice = slice(3)

# Split the list into two parts using the slice object
first_part = original_list[first_part_slice]
second_part = original_list[first_part_length:]

# Display the split parts
print("Original list:", original_list)
print("Length of the first part of the list:3" )
print("Splitted the said list into two parts:",first_part, second_part)

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list:3
Splitted the said list into two parts: [1, 1, 2] [3, 4, 4, 5, 1]

In [ ]:
# Original list
original_list = ['red', 'green', 'white', 'black']

# Reverse the items in the list using the reverse() method
original_list.reverse()

for item in original_list:
    print(item)

black
white
green
red

In [ ]:
tuple1 = (2, 4, 5, 6, 2, 3, 4, 4, 7)

# Count the number of times 4 appears in the tuple
count_4 = tuple1.count(4)

# Output the result
print("Number of times 4 appears in the tuple:", count_4)

Number of times 4 appears in the tuple: 3

In [ ]:
# Input list
list1 = [5, 10, 7, 4, 15, 3]

# Convert the list to a tuple using tuple() constructor
tuple1 = tuple(list1)

# Output the tuple
print("Converted tuple:", tuple1)

Converted tuple: (5, 10, 7, 4, 15, 3)

In [ ]:
tuples_list = [(1, 2), (3, 4), (5, 6)]

# Initialize variable to hold the sum
total_sum = 0

# Iterate through each tuple in the list of tuples
for tup in tuples_list:
    # Iterate through each number in the tuple and add it to the sum
    for num in tup:
        total_sum += num

# Output the sum of numbers in the tuple
print("Sum of the numbers:", total_sum)

Sum of the numbers: 21

In [ ]:
# Input tuple
tuple_data = (0, 11, 1, 2, 2, 2, 33, 1)

repeated_items = set()

for item in tuple_data:
    # Check if the item appears more than once in the tuple
    if tuple_data.count(item) > 1:
        repeated_items.add(item)  # Add the repeated item to the set

# Output the repeated items
print("Repeated items in the tuple:", repeated_items)

Repeated items in the tuple: {1, 2}

In [ ]:
set1 = {15, 25, 2, 10, 11, 55}

max_element = max(set1) #Find and print the maximum element

min_element = min(set1) #Find and print the minimum element


print("Maximum element in the set:", max_element)

print("Minimum element in the set:", min_element)

Maximum element in the set: 55
Minimum element in the set: 2

In [ ]:
set1 = {0, 1, 2, 3, 4}

# Initialize an empty set to store squared elements
squared_set = set()

for x in set1:
    squared_element = x ** 2  # Square the current element
    squared_set.add(squared_element)  # Add the squared element to the set

# Print the squared elements set
print("Squared elements of the set:", squared_set)

Squared elements of the set: {0, 1, 4, 9, 16}

In [ ]:
# Input set
set1 = {10, 45, 34, 20}

# Values to check
values_to_check = {99, 20}

# Find the intersection of the sets
common_values = set1.intersection(values_to_check)

# Check if any common values are present
if common_values:
    print("Common values are present in the set:", common_values)
else:
    print("No common values are present in the set")

Common values are present in the set: {20}

In [ ]:
# Input set
set1 = {11, 1, 22, 3, 4}

# Print the original set
print("Original set:", set1)

# Add an element to the set
set1.add(99)
print("After adding 99 to the set:", set1)

# Remove an element from the set
set1.remove(22)
print("After removing 22 from the set:", set1)

# Clear all elements from the set
set1.clear()
print("After clearing the set:", set1)

Original set: {1, 3, 4, 22, 11}
After adding 99 to the set: {1, 3, 4, 99, 22, 11}
After removing 22 from the set: {1, 3, 4, 99, 11}
After clearing the set: set()